body {
	font-family: 'DM Sans', cursive;
	font-weight: 300;
	margin: 0 0 auto 0;
}

header {
	background-color: black;
	color: white;
	width: 100%;
	margin-top: 0;
	margin-bottom: 7em;
}

h1 {
	margin: 0;
	padding: 0.5em;
	font-family: 'Tangerine', cursive;
	font-size: 7.5em;
	text-align: center;
}

#school-timetable {
	width: 90%;
	margin: 0 auto;
}

h2 {
	font-family: 'Mali', cursive;
	font-weight: 400;
	font-size: 3.5em;
	text-indent: 0.5em;
	margin-bottom: 0.75em;
}

#timetable {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

th,
td {
	padding: 15px;
	text-align: center;
	border: 1px solid;
}

th {
	background-color: black;
	color: white;
	border-color: black;
}
